.top-menu {
	
	height:100px;
	
}

.full_height {
    height:100vh;
}

.zero{
	
	height:0px;
	
}

#entrar {

    color: white;

}

#logo {

    height:48px;
    margin-left:10px;
    margin-top:5px;

}