.top-menu {
	
	height:100px;
	
}

.full_height {
    height: 100vh;
}

body{
    overflow: hidden;
}


.zero{
	
	height:0px;
	
}

#entrar {

    color: white;

}

#logo {

    height:48px;
    margin-left:10px;
    margin-top:5px;

}

tbody {
display:block;
max-height :82vh;
overflow:auto;
}

thead, tbody tr {
display:table;
width:100%;
table-layout:fixed;
}

thead {
width: calc( 100% - 1em )
}

table {
width:100%;
}