{% extends 'layout.html' %}
{% block content %}
	<div id="div-cadastrar" class="row">
		<form class="col s12" method="POST">
			{{ form.hidden_tag() }}
			<div class="row">
				<div class="input-field col s6">
					{{ form.nome(class="validate") }}
            		{{ form.nome.label(for="nome") }}

				</div>
				<div class="input-field col s6">
					{{ form.sobrenome(class="validate") }}
            		{{ form.sobrenome.label(for="sobrenome") }}

				</div>
				<div class="input-field col s6">
					{{ form.username(class="validate") }}
            		{{ form.username.label(for="username") }}

				</div>

				<div class="input-field col s6">
					{{ form.email(class="validate") }}
					{{ form.email.label(for="email") }}

				</div>

				<div class="input-field col s6">
					{{ form.password(class="validate") }}
					{{ form.password.label(for="password") }}

				</div>

				<div class="input-field col s6">
					{{ form.confirm_password(class="validate") }}
					{{ form.confirm_password.label(for="confirm_password") }}

				</div>

				<div class="row">
					<div class="col s12 center-align">
						{{ form.submit(id="entrar", class="btn waves-effect waves-light white-text") }}
					</div>
				</div>
				<div class="row">
					<div class="col s12 center-align">
						<a id="voltar" class="btn waves-effect waves-light" href="{{ url_for('login') }}">Voltar</a>
					</div>
				</div>
			</div>
		</form>
	</div>
{% endblock content %}