<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title id="titulo">Ponto</title>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../static/materialize.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="../static/styles.css"  media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script type="text/javascript" src="../static/jquery-3.3.1.min.js"></script>
</head>
<body>
    <div class="row">

        <div class="col l1 grey center-align full_height">
            <div class="row"></div>
            <div class="row">
                <a onclick="show_some()" class="waves-effect waves-light btn">listar</a>
            </div>
            <div class="row">
                <a class="waves-effect waves-light btn">button</a>
            </div>
            <div class="row">
                <a class="waves-effect waves-light btn">button</a>
            </div>
            <div class="row">
                <a class="waves-effect waves-light btn">button</a>
            </div>
            <div class="row">
                <a class="waves-effect waves-light btn">button</a>
            </div>
            <div class="row">
                <a class="waves-effect waves-light btn">button</a>
            </div>
        </div>

        <div class="col l11">
            <table>
            <thead>
              <tr id="head">
              </tr>
            </thead>

            <tbody>

            </tbody>
          </table>
        </div>

    </div>

    <script type="text/javascript" src="../static/materialize.min.js"></script>
    <script type="text/javascript" src="../static/scripts.js"></script>
    <script type="text/javascript" src="../static/clients.js"></script>

</body>
</html>