 <!DOCTYPE html>
  <html>
    <head>
	<title>Pontinho</title>
		<!--Import Google Icon Font-->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!--Import materialize.css-->
		<link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
		<link type="text/css" rel="stylesheet" href="css/styles.css"  media="screen,projection"/>
		<!--Let browser know website is optimized for mobile-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
	<!-- Formulario begin -->
	<div class="container">
		<div id="top" class="top-menu"></div>
		
		<!-- Login begin -->
		<div id="div-login" class="row ">
			<form id="login-container" class="col s12 m8 l8 offset-l2 offset-m2 z-depth-3">
				<div class="row">
					<div class="offset-s1 input-field col s5 ">
					  <input id="username" type="text" class="validate">
					  <label for="username">Usuario</label>
					</div>
					<div class="row">
						<div class="input-field col s5">
						  <input id="password" type="password" class="validate">
						  <label for="password">Senha</label>
						</div>
					</div>
					<div class="row">
						<div class="col s12 center-align">
							<a id="entra" class="btn waves-effect waves-light scale-transition ">Entrar</a>
						</div>
					</div>
					<div class="row">
						<div class="col s12 center-align">
							<a id="cadastro" class="btn waves-effect waves-light" >Cadastrar</a>
						</div>
					</div>
				</div>
			</form>
		</div>
		  <!-- Login end -->
		  
		  <!-- Cadastro begin -->
		<div id="div-cadastrar" class="row hide">
			<form class="col s12">
			  <div class="row">
					<div class="input-field col s6">
					   <input id="first_name" type="text" class="validate">
					  <label for="first_name" data-error="*Obrigatorio" >Nome</label>
					</div>
					<div class="input-field col s6">
					  <input id="last_name" type="text" class="validate">
					  <label for="last_name">Sobrenome</label>
					</div>
					<div class="input-field col s6">
					  <input id="username" type="text" class="validate">
					  <label for="username">Usuario</label>
					</div>
				  <div class="row">
					<div class="input-field col s6">
					  <input id="password" type="password" class="validate">
					  <label for="password">Senha</label>
					</div>
					</div>
					<div class="row">
						<div class="col s12 center-align">
							<a id="cadastrar" class="btn waves-effect waves-light" >Cadastrar</a>
						</div>
					</div>
					<div class="row">
						<div class="col s12 center-align">
							<a id="voltar" class="btn waves-effect waves-light" >Voltar</a>
						</div>
					</div>
				</div>
			</form>
		</div>
		<!-- Cadastro end -->
		
		<!-- Ponto begin -->
		
		<div id="div-ponto" class="row hide">
		
			<div class="s12 center-align">
				<div class="row"> 
				<h1 id="tempo-real" class="grey-text"></h1>
				<a class="btn waves-effect waves-light">Bater ponto</a>
				</div>
				<div class="row"> 
					<a class="btn-floating btn-large waves-effect waves-light yellow"><i class="material-icons">arrow_downward</i></a>
					<a class="btn-floating btn-large waves-effect waves-light grey"><i class="material-icons">restaurant</i></a>
					<a class="btn-floating btn-large waves-effect waves-light grey"><i class="material-icons">restaurant</i></a>
					<a class="btn-floating btn-large waves-effect waves-light grey"><i class="material-icons">arrow_upward</i></a>
					<br>
					<label>Chegada:</label>
					<br>
					<label>Hora</label>
				</div>
				<a class="btn waves-effect waves-light">Voltar</a>
				
			</div>
		
		</div>
		
		<!-- Ponto end -->
		
		
		  
	</div>
	<!-- Formulario end -->
		
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
	  <script type="text/javascript" src="js/scripts.js"></script>
    </body>
  </html>