{% extends 'layout.html' %}
{% block content %}
<form id="login-container" method="POST" action="" class="col s12 m8 l8 offset-l2 offset-m2 z-depth-3">
    {{ form.hidden_tag() }}
    <div class="row">
        <div class="row"></div>
        <div class="offset-s1 input-field col s5 ">
            <input id="username" type="text" class="validate">
            <label for="username">Email</label>
        </div>

        <div class="row">
            <div class="input-field col s5">
                <input id="password" type="password" class="validate">
                <label for="password">Password</label>
            </div>
        </div>

        <div class="row">
            <div class="col s12 center-align">
                <a class="waves-effect waves-light btn">Entrar</a>
            </div>

        </div>
        <div class="row">
            <div class="col s12 center-align">
                <a id="cadastro" class="btn waves-effect waves-light" href="{{ url_for('cadastro') }}">Cadastrar</a>
            </div>
        </div>
    </div>
</form>
{% endblock content %}