{% extends 'layout.html' %}
{% block content %}



<div id="div-ponto" class="row">
    <div class="s12 center-align">
        <div class="row">
            <h1 id="tempo-real" class="grey-text"></h1>
            {{ form.submit(id="entrar", class="btn waves-effect waves-light white-text") }}
        </div>
        <div class="row">
            <a class="btn-floating btn-large waves-effect waves-light yellow"><i class="material-icons">arrow_downward</i></a>
            <a class="btn-floating btn-large waves-effect waves-light hide"><i class="material-icons">restaurant</i></a>
            <a class="btn-floating btn-large waves-effect waves-light hide"><i class="material-icons">restaurant</i></a>
            <a class="btn-floating btn-large waves-effect waves-light hide"><i class="material-icons">arrow_upward</i></a>
            <br>
            <label>Chegada:</label>
            <br>
            <label>Hora</label>
        </div>
        <a class="btn waves-effect waves-light">Voltar</a>

    </div>

</div>
{% endblock content %}